<header-medica></header-medica>
<div class="row  margin-left-20">
	<div class="col col-lg-2 col-md-2">
		<materia-remedies></materia-remedies>
	</div>
  
	<div  class="col col-lg-10 col-md-10 " *ngFor="#item of medicaData; #id=index">
    
      <h2 id="nav-tabs"> {{item.rem}} - Materia Medica</h2>
            <div class="bs-component">
              <ul class="nav nav-tabs">
                <li *ngIf="item.data" class="active"><a href="#divBor{{id}}" data-toggle="tab">Boericke</a></li>
                <li *ngIf="item.kent"><a href="#divKent{{id}}" data-toggle="tab">Kent</a></li>
                <li *ngIf="item.allen"><a href="#divAllan{{id}}" data-toggle="tab">Allen</a></li>
              
              </ul>
              <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in" id="divBor{{id}}">
                 
                 <div class="col-lg-12" id="blockCard">
            <div class="bs-component">
              <blockquote>
                <div [innerHTML]="item.data.split(searchTerm).join('<mark>' + searchTerm + '</mark>' )"></div>
              </blockquote>
            </div>
          </div>

                </div>
                <div class="tab-pane fade" id="divKent{{id}}">
                  
                  <div class="col-lg-12" id="blockCard">
            <div class="bs-component">
              <blockquote>
                <div [innerHTML]="item.kent.split(searchTerm).join('<mark>' + searchTerm + '</mark>')"></div>
              </blockquote>
            </div>
          </div>


                </div>
                <div class="tab-pane fade" id="divAllan{{id}}">
                 


                  <div class="col-lg-12" id="blockCard">
            <div class="bs-component">
              <blockquote>
                <div [innerHTML]="item.allen.split(searchTerm).join('<mark>' + searchTerm + '</mark>' )"></div>
              </blockquote>
            </div>
          </div>


                </div>
               
              </div>
            </div>
          </div>

          