<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
    
       
       <a class="navbar-brand" data-toggle="collapse" href="javascript:void(0)" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" ><img src="assets/images/logo.png" class="logo"/> Shifa</a>

       <div class="pull-right visible-xs ">
          <a class="btn btn-default"><i  class="fa fa-commenting-o"> </i></a>
          <a class="btn btn-default" [routerLink]="['Home']" ><i  class="fa fa-home"> </i></a>
          <a class="dropdown-toggle" data-toggle="dropdown" class="btn  btn-default"><i  class="fa fa-user"> </i> Nasir</a>
          <ul class="dropdown-menu">
            <li><a href="#">My Account</a></li>
            <li><a href="#">Facebook Page</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Log Out</a></li>
          </ul>
        </div>

    </div>
    <div class="row-offcanvas row-offcanvas-left active">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
            <li><a  onclick="closeNavbar()" class="active" [routerLink]="['Home']"><i class="fa fa-home">&nbsp;</i>Home</a></li>
            <li><a onclick="closeNavbar()" [routerLink]="['Repertory']"><i class="fa fa-plus-square ">&nbsp;</i>Repertory</a></li>
            <li><a onclick="closeNavbar()" [routerLink]="['ReversedRepertory']"><i class="fa fa-plus-square ">&nbsp;</i>Reversed Repertory</a></li>
            <li><a  onclick="closeNavbar()" [routerLink]="['Medica-Materia']"><i class="fa fa-book">&nbsp;</i>Materia Medica</a></li>
            <li><a  onclick="closeNavbar()" [routerLink]="['Abbreviation']"><i class="fa fa-get-pocket">&nbsp;</i>Abbreviation</a></li>
            <li><a   onclick="closeNavbar()"  [routerLink]="['Organon']"><i class="fa fa-delicious">&nbsp;</i>Organon</a></li>
            <li><a  onclick="closeNavbar()"   [routerLink]="['Community']"><i class="fa fa-comments-o">&nbsp;</i>Forum</a></li>
            <li><a   onclick="closeNavbar()"  [routerLink]="['Chat']"><i class="fa fa-commenting-o">&nbsp;</i>Chat</a></li>
            <li><a   onclick="closeNavbar()"  [routerLink]="['Account']"><i class="fa fa-user">&nbsp;</i>My Account</a></li>
            <li><a   onclick="closeNavbar()"  [routerLink]="['Settings']"><i class="fa fa-home">&nbsp;</i>Settings</a></li>
          
      </ul>
      
    </div><!-- /.navbar-collapse -->
    </div>
  </div><!-- /.container-fluid -->
</nav>