
<repertory-header></repertory-header>
<ul class="list-group">
  <li class="separator col-md-6 col-lg-4" *ngFor ="#item of repertoryList"  >
      <a [routerLink]="['RepertoryCategory',{book:book, category:item.title}]">
          <img (click)="getCategory(item.categoy)"  class="smallimg" 
            src="assets/images/repertoryicons/_{{item.maincategoy}}.png" 
            onerror="this.onerror=null;this.src='assets/images/logo.png';"
            alt="{{item.maincategoy}}" /></a>
      <span class="pull-right">
          
         <a class="btn btn-sm btn-success" (click)="item.showMore =!item.showMore"><i  [class.fa-toggle-on]="item.showMore" [class.fa-toggle-off]="!item.showMore" class="fa  "> </i> {{item.intensity}} </a>
        <a (click)="item.check = !item.check" class="btn btn-sm btn-primary ">
            <i  [class.fa-check]="item.check" [class.fa-square-o]="!item.check" class="fa  "> </i></a>
                <span class="fa fa-chevron-right"></span>
      </span>
      
       <a [routerLink]="['RepertoryCategory',{book:book, category:item.title}]"><span  >{{item.name}}</span></a>
       <a [routerLink]="['RepertoryCategory',{book:book, category:item.title}]"><div class="col-lg-12 "  (click)="getCategory(item.categoy)"  id="blockCard">
            <div class="bs-component ">
              <blockquote>
                <p>{{item.categoy.split('|').join(', ')}}</p>
                    <div *ngIf="item.showMore == true">
                        <p    *ngFor="#remedy of item.remedies.split(':')" class="{{remediesColor(remedy)}} remedy">{{remedy}}</p>
                    </div> 
    
              </blockquote>
            </div>
          </div></a>
    </li>
</ul>


