
<repertory-header></repertory-header>

<div *ngFor='#key of arrayOfKeys'>
<div class="row margin-left-10"> 
 <ul class="breadcrumb">
    <li *ngIf="book"><a href="#" >{{book}}</a></li>
    <li *ngIf="!book"><a href="#" >{{repertoryList[key][0].book}}</a>
    <li class="active" *ngIf="book">
        <a  [routerLink]="['RepertoryCategory',{book:book, category:key}]" >{{key.split('|').join(', ')}}</a>
    </li>
    <li class="active" *ngIf="!book">
        <a  [routerLink]="['RepertoryCategory',{book:repertoryList[key][0].book, category:key}]" >{{key.split('|').join(', ')}}</a>
    </li>
</ul>
</div>
<div class="row">
<ul class="list-group " >
  <li  *ngFor ="#item of repertoryList[key]" class="separator blockCard col col-md-4 col-lg-3 col-sm-6 col-xs-12"  >
       <span class="pull-right">
          
         <a class="btn btn-sm btn-success" (click)="item.showMore =!item.showMore"><i  [class.fa-toggle-on]="item.showMore" [class.fa-toggle-off]="!item.showMore" class="fa  "> </i> {{item.Intensity}} </a>
        <a (click)="item.check = !item.check" class="btn btn-sm btn-primary ">
            <i  [class.fa-check]="item.check" [class.fa-square-o]="!item.check" class="fa  "> </i></a>
                <span class="fa fa-chevron-right"></span>
      </span>
      
      <a [routerLink]="['RepertoryCategory',{book:item.book, category:item.title}]">
          <img (click)="getCategory(item.categoy)"  class="smallimg" 
            src="assets/images/repertoryicons/_{{item.maincategoy}}.png" 
            onerror="this.onerror=null;this.src='assets/images/logo.png';"
            alt="{{item.maincategoy}}" />
            <span  >{{item.Name}}</span>
        </a>
            
     
      
       <a [routerLink]="['RepertoryCategory',{book:item.book, category:item.title}]"><div class="col-lg-12 "  (click)="getCategory(item.categoy)"  >
            <div *ngIf="item.showMore == true" class="bs-component ">
              <blockquote >
                    <div >
                        <p    *ngFor="#remedy of item.Remedies.split(':')" class="{{remediesColor(remedy)}} remedy">{{remedy}}</p>
                    </div> 
    
              </blockquote>
            </div>
          </div></a>
    </li>
</ul>

</div>
</div>
